/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #0b1220;
  overflow-x: hidden;
}

app-root {
  display: block;
  min-height: 100%;
}
